// Navigation code here
.headernav {
    .center();
    margin-top: 15%;
    flex-direction: column;

}

h1 {
    font-size: 30px;
    padding-top: 10px;
    ;
}

nav {
    display: flex;

    justify-content: space-between;
    margin: 20px 0;
    font-family: @river-bend;
    font-size: 3em;
    width: 70%;

    @media @phone {
        justify-content: space-between;
        font-size: 20px;
        margin: 20px 0;

    }

    a {
        text-decoration: none;
        color: @ebony-clay;

    }

}