// Navigation code here
.headernav {
    .center();
    // display: flex;
    // align-content: center;
    // justify-content: center;
    flex-direction: column;
    width: 600px;
    background-color: @wild-sand;
}

nav {
    .center();
    // display: flex;
    margin: 20px 0;
    // justify-content: center;
    font-family: @river-bend;
    font-size: 2em;

    a {
        text-decoration: none;
    }
}